

// FONT WEIGHT
$easy-bold: 400;
$color-variable: #4EA5D9;
$hard-bold: 800;

// COLORS 

$primary-darkness: #375583;
$primary-dark: #3C5E90;
$primary: #42679E;
$secundary: #5375A7;
$secundary-light: #6382AF; 